#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#background {
    background-color: darkgrey;
}

h1 {
    text-align: center;
    font-size: 12em;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
}

img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
}

#background {
    grid-column: 2/3;
    grid-row: 1/3;
}

p {
    text-align: center;
    font-size: 6em;
    color: darkred;
    grid-column: 2/3;
    grid-row: 2/3;
}