@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #FFD1A3ff;
    font-size: 24px;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: stretch;
    align-content: stretch;
    width: 100%;
}

#banner{
    text-align: center;
}   

#banner h4{
    font-size: 18px;
}

nav a {
    text-align: center;
    color: #6D35C6ff;
    height: 75%;
    width: 30%;
    align-self: center;
    padding-top: 50px;
}

nav a:hover {
    background-color: #6D35C6ff;
    color: #28B5A2ff;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 200px;
}  

#content{
    max-width: 1600px;
    margin: 0 auto;
}



#article-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-size: 14px;
    margin: auto;
    justify-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.article-card{
    border: 5px solid #28B5A2ff;
    box-shadow: 5px 5px 10px #6f7364;
    color: black;
}

.article-card p{
    width: 90%;
    font-size: 14px;
    margin: 5px auto;
}

.article-card p a{
    color: #6D35C6ff;
}

.article-img{
    box-shadow: 5px 5px 10px #6f7364;
    color: #D38E1D;
    width: 90%;
    margin: 10px auto;
    display: block;
}

.topic-essay{
    margin-left: 100px;
    margin-right: 100px;
    grid-row: 3;
    grid-column: 1;
}

.topic-essay p{
    line-height: 2em;
    font-size: 18px
}

footer{
    background-color: #28B5A2ff;
    color: #6D35C6ff;
    padding: 25px 50px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #6D35C6ff;
    text-decoration: none;
}
footer a:hover {
    color: white;

}
footer p {
    font-size: 0.8em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

/* Page 2 - The Struggle specific CSS */

#hero-box{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#hero-image{
    border: 5px solid #28B5A2ff;
    width: 100%;
}

.button-box{
    display: flexbox;
    justify-content: center;
    font-size: 18px;
}

/* Gallery Slideshow from W3 Schools */
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }